:root {
	--white:	#FFF;
	--pale: 	#F0F0F4;
	--black: 	#000D2A;
	--grey: 	#CFD5E1;
	--red: 		#D03056;
	--blue: 	#34E0FB;
}

html {
	background-color: var(--white);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--pale);
	overflow: hidden;
	width: 400px;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 10vh 50vh 5vh 35vh;
}

#modal_background {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.75);
	display: none; /* set to `flex` with js */
	align-items: center;
	justify-content: center;
}

	#modal_background .modal {
		width: 85vw;
		background-color: var(--white);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

		#modal_background .modal input {
			color: var(--black);
			text-align: center;
		}

		#modal_background .modal label {
			margin-bottom: 0.5em;
		}


		#modal_background .modal .modal_buttons {
			display: flex;
			justify-content: space-between;
		}

.blue {
	background-color: var(--blue);
}

.red {
	background-color: var(--red);
}

#contacts {
	max-width: 100%;
	overflow-y: scroll;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

	#contacts .contact {
		height: 6.5vh;
		width: 6.5vh;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 2px!important;
	}

		#contacts .contact img {
			height: 5vh;
		}

	#contacts .selected {
		border-color: var(--red);
	}

	#contacts #add_contact span {
		font-size: 2em;
	}

#chat {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto 2em;
}

	#chat #history {
		height: 95%;
		width: 95%;
		justify-self: center;
		overflow-y: scroll;
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: 1em;
	}

	#chat .message {
		font-size: 1.8em;
		display: flex;
		align-items: center;
		height: 2em;
		margin: 0 0.5em 1em 0.5em;
	}

	#chat .me {
		align-self: flex-end;
	}

	#chat .them {
		align-self: flex-start;
	}

	#chat #new_message {
		width: 95%;
		justify-self: center;
		display: flex;
	}

		#chat #new_message .message {
			width: 95%;
			display: flex;
			align-items: center;
		}

#controls {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	margin-top: -1em;
}

	#controls div {
		width: 45%;
		height: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
	}


#emoji_selector {
	background-color: var(--pale);
	height: 100%;
	padding: 0.5em 0;
	display: grid;
	margin-top: 1vh;
	grid-template-rows: 6vh 28vh;
	grid-template-columns: 100%;
}

	#emoji_selector .tabs {
		height: 2em;
		display: flex;
		align-items: baseline;
		justify-content: flex-start;
	}

		#emoji_selector .tabs div {
			font-size: 1.8em;
			width: 2em;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 0 0 0.5em;
		}

			#emoji_selector .tabs .selected {
				background-color: var(--white);
				margin-bottom: -1em;
				z-index: 20;
			}

	#emoji_selector #emoji_list {
		height: 100%;
		overflow-y: scroll;
		align-self: center;
		justify-self: center;
		background-color: var(--white);
		font-size: 1.8em;
	}
